@page "/auth/registration"
@using DemoBlazor.Shared.Authorize
@inject HttpClient Http
@inject IUriHelper UriHelper


<div class="login-page">
    <div class="login-box">
        <div style="display:flex; align-items:center; justify-content:center; margin-bottom:10px">
            <label style="font-family:'Roboto', sans-serif;font-weight:bold;margin-left:  10px;font-size: 50px; color:  white">Login Page</label>
        </div>
        <EditForm Model="@Model">
            <DataAnnotationsValidator />
            <div class="card" style="margin: 10px;">
                <div class="body" style="padding-top: 25px;">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <InputText class="form-control"
                                   bind-Value="@Model.Email" />
                        </div>
                        <ValidationMessage For="@(() => Model.Email)" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @*<input placeholder="Mật khẩu"
                                   class="form-control"
                                   required
                                   type="password"
                                   bind="@Model.Password" />*@
                            <InputText class="form-control"
                                       bind-Value="@Model.Password" />
                        </div>
                        <ValidationMessage For="@(() => Model.Password)" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @*<input placeholder="Nhập lại mật khẩu"
        class="form-control"
        required
        type="password"
        bind="@Model.ConfirmPassword" />*@
                            <InputText class="form-control"
                                       bind-Value="@Model.ConfirmPassword" />
                        </div>
                        <ValidationMessage For="@(() => Model.ConfirmPassword)" />
                    </div>
                    <div class="input-group">
                        <div class="col-xs-6">
                            <button class="btn btn-block bg-pink waves-effect"
                                    type="button"
                                    onclick="@SubmitForm">
                                Sign up
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>
@functions{
    TokenViewModel Model { get; set; }

    private async Task SubmitForm()
    {

        var response = await Http.PostJsonAsync<TokenViewModel>("api/Authorize/Registration", Model);
        UriHelper.NavigateTo("/");
        Console.WriteLine(response);
    }

    protected override void OnInit()
    {
        base.OnInit();
        Model = new TokenViewModel();
    }
}